@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.starttea {
  /*where 門市資訊*/
}
.starttea .starttea_menu {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #000;
  padding-bottom: 50px;
  z-index: 1;
  overflow: scroll;
}
.starttea .starttea_menu img {
  display: block;
  width: 50%;
  margin: 80px auto 20px;
}
.starttea .starttea_menu .menu_close {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: none;
  color: #fff;
  font-size: 3.5em;
  text-align: right;
  padding: 20px 50px 0px 0px;
  cursor: pointer;
  z-index: 2;
}
.starttea .store {
  width: 100%;
  /*600 : 437 = 1 : X, X = 0.7 (70%)*/
  /*position: relative 須設定高度，下一個兄弟元素才會往下排列顯示*/
  height: 70vw;
  position: relative;
}
.starttea .store img {
  width: 100%;
  position: absolute;
  transition: all 2s;
}
.starttea .store .dark {
  opacity: 1;
}
.starttea .store .light {
  opacity: 0;
}
.starttea .store_title {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.starttea .store_title .up {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.starttea .store_title .up .left {
  width: 10vw;
  margin-left: 60px;
  cursor: pointer;
}
.starttea .store_title .up .left .logo {
  width: 100%;
}
.starttea .store_title .up .right {
  width: 8vw;
  margin-right: 60px;
  margin-top: 20px;
  cursor: pointer;
}
.starttea .store_title .up .right .menu {
  width: 100%;
}
.starttea .store_title .line {
  width: 90%;
  height: 3px;
  background: #000;
  margin: 18px auto 0;
}
.starttea .store_title .remove {
  display: none;
}
.starttea .add_color {
  background: #cf997a;
  padding-bottom: 10px;
}
.starttea .open_menu {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.75;
  z-index: 3;
}
.starttea .open_menu .close {
  color: #fff;
  font-size: 5em;
  text-align: right;
  padding: 20px 50px 50px 0;
  cursor: pointer;
}
.starttea .open_menu .item {
  text-align: center;
  color: #fff;
  font-size: 2em;
  margin-bottom: 50px;
}
.starttea .open_menu .item a {
  text-decoration: none;
  color: #fff;
}
.starttea .message {
  width: 100%;
  background: url("../images/action/背景新.svg") no-repeat;
  /*原本背景圖不夠大，加上 background-size: cover 才能填滿螢幕，只有 cover 才能*/
  background-size: cover;
  /*下行是讓背景圖固定不移動*/
  background-attachment: fixed;
  padding-bottom: 150px;
}
.starttea .message img {
  display: block;
}
.starttea .message .message_title {
  width: 420px;
  /*img 加上 display: block，寬度才會是100%，才能夠被置中(auto)*/
  display: block;
  margin: 0 auto;
  padding: 150px 0 90px;
}
.starttea .message .message_block {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
.starttea .message .message_block .message_img {
  display: block;
  width: 30%;
  margin: 0 auto;
  cursor: pointer;
}
.starttea .open_message {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #000;
  padding-bottom: 50px;
  z-index: 1;
  overflow: scroll;
}
.starttea .open_message img {
  display: block;
  width: 50%;
  margin: 80px auto 20px;
}
.starttea .open_message .close {
  display: none;
  color: #fff;
  font-size: 5em;
  text-align: right;
  padding: 20px 50px 0px 0px;
  cursor: pointer;
  z-index: 2;
}
.starttea .product {
  /*台式*/
}
.starttea .product .product_title {
  width: 420px;
  display: block;
  margin: 130px auto 70px;
}
.starttea .product .thailand_block {
  width: 100vw;
  background-color: #973c3f;
}
.starttea .product .thailand_block .thailand {
  display: block;
  width: 60vw;
  margin-bottom: 100px;
  margin: 0 auto;
}
.starttea .product .details {
  width: 30vw;
  overflow: hidden;
  display: flex;
  /*若不加移動時，第二張照片會跑更多導致位移*/
  justify-content: space-between;
  /*加了第一張img才會在正中間，而第二張會在第一張置中後往第一張後面排，而不是總共2張img，2張一起置中，原因應該是img為inline*/
  margin: 40px auto;
}
.starttea .product .details img {
  width: 30vw;
}
.starttea .product .thailand_dot {
  display: flex;
  justify-content: center;
  width: 100px;
  margin: 20px auto;
}
.starttea .product .thailand_dot div {
  width: 10px;
  height: 10px;
  background: #dcdcdc;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}
.starttea .product .thailand_dot .dark {
  background: #000;
}
.starttea .product .drink {
  display: block;
  margin: 200px auto 150px;
  width: 50vw;
}
.starttea .product .taiwan_drink {
  width: 30vw;
  overflow: hidden;
  display: flex;
  /*若不加移動時，第二張照片會跑更多導致位移*/
  justify-content: space-between;
  /*加了第一張img才會在正中間，而第二張會在第一張置中後往第一張後面排，而不是總共2張img，2張一起置中，原因應該是img為inline*/
  margin: 40px auto;
}
.starttea .product .taiwan_drink img {
  width: 30vw;
}
.starttea .product .taiwan_dot {
  display: flex;
  justify-content: center;
  width: 100px;
  margin: 20px auto;
}
.starttea .product .taiwan_dot div {
  width: 10px;
  height: 10px;
  background: #dcdcdc;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}
.starttea .product .taiwan_dot .dark {
  background: #000;
}
.starttea .product .menu_btn {
  display: none;
  z-index: 5;
}
.starttea .product .menu_btn img {
  display: block;
  width: 150px;
  height: 150px;
  position: fixed;
  bottom: 65px;
  right: 65px;
}
.starttea .where {
  width: 100%;
  background: #cf997a;
}
.starttea .where .where_title_image {
  display: block;
  width: 25%;
  margin: 180px auto 100px;
  padding-top: 100px;
}
.starttea .where .where_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.starttea .where .where_block .where_detail {
  width: 600px;
  margin: 0 50px 30px;
  background: #fff;
}
.starttea .where .where_block .where_detail .where_image {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.starttea .where .where_block .where_detail .down {
  width: 600px;
  display: flex;
  justify-content: space-between;
  padding: 25px 0 20px 35px;
}
.starttea .where .where_block .where_detail .down .where_text .title {
  font-size: 2em;
  font-weight: bold;
  color: #807878;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
.starttea .where .where_block .where_detail .down .where_text .title .one,
.starttea .where .where_block .where_detail .down .where_text .title .two {
  margin-right: 5px;
}
.starttea .where .where_block .where_detail .down .where_text .title .two {
  font-weight: normal;
}
.starttea .where .where_block .where_detail .down .where_text .title .three {
  font-size: 0.8em;
  padding: 7px 12px;
  background: #d9d9d9;
  color: #000;
}
.starttea .where .where_block .where_detail .down .where_text .data {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 10px;
}
.starttea .where .where_block .where_detail .down .where_text .other a {
  display: block;
  color: #d09d9d;
  text-decoration: none;
  font-size: 1.3em;
  margin-bottom: 8px;
}
.starttea .where .where_block .where_detail .down .where_text .other a:hover {
  color: #b75f2d;
  text-decoration: none;
}
.starttea .where .where_block .where_detail .down .down_image img {
  height: 160px;
  opacity: 0.3;
  margin-top: 30px;
}
.starttea .history {
  width: 100%;
  padding-bottom: 50px;
}
.starttea .history .history_title {
  display: block;
  width: 30%;
  margin: 150px auto;
}
.starttea .history .history_image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.starttea .history .history_image .block a {
  text-decoration: none;
}
.starttea .history .history_image .block a img {
  width: 250px;
  height: 250px;
  margin: 20px;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.7s;
}
.starttea .history .history_image .block a .dark {
  opacity: 1;
}
.starttea .history .history_image .block a .light {
  opacity: 0.6;
}
.starttea .footer {
  width: 100%;
  background-color: #c27136;
  color: #fff;
  padding: 80px 0;
}
.starttea .footer .footer_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.starttea .footer .footer_block .footer_text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 54%;
}
.starttea .footer .footer_block .footer_text .footer_title {
  font-size: 2.7em;
  margin-bottom: 40px;
}
.starttea .footer .footer_block .footer_text .footer_title span {
  margin-left: 15px;
}
.starttea .footer .footer_block .footer_text .add_block,
.starttea .footer .footer_block .footer_text .night {
  font-size: 1.3em;
  margin-bottom: 10px;
}
.starttea .footer .footer_block .footer_text .add_block {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.starttea .footer .footer_block .footer_img a {
  text-decoration: none;
}
.starttea .footer .footer_block .footer_img a img {
  width: 50px;
  height: 100px;
  margin-right: 20px;
}

@media (max-width: 1000px) {
  .starttea .message .message_title {
    width: 320px;
    padding-bottom: 50px;
  }
  .starttea .product .product_title {
    width: 320px;
  }
  .starttea .product .menu_btn img {
    width: 120px;
    height: 120px;
  }
  .starttea .where .where_title_image {
    width: 35%;
  }
}
@media (max-width: 900px) {
  .starttea .history .history_title {
    width: 40%;
    margin: 100px auto;
  }
  .starttea .history .history_image .block img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 850px) {
  .starttea .store_title .up .left {
    width: 15vw;
  }
  .starttea .product .menu_btn img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 800px) {
  .starttea .footer {
    padding: 50px 10px;
  }
  .starttea .footer .footer_block .footer_text .footer_title {
    font-size: 2em;
  }
  .starttea .footer .footer_block .footer_text .add_block,
  .starttea .footer .footer_block .footer_text .night {
    font-size: 1.1em;
  }
  .starttea .footer .footer_block .footer_img a img {
    width: 40px;
    height: 80px;
  }
}
@media (max-width: 750px) {
  .starttea .message {
    padding-bottom: 100px;
  }
  .starttea .message .message_title {
    width: 230px;
    padding: 100px 0 20px;
  }
  .starttea .product .product_title {
    width: 230px;
  }
  .starttea .product .drink {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .starttea .where .where_block .where_detail {
    width: 70%;
  }
  .starttea .where .where_block .where_detail .down {
    width: 100%;
  }
  .starttea .where .where_block .where_detail .down .where_text .title {
    font-size: 1.5em;
  }
  .starttea .where .where_block .where_detail .down .where_text .other {
    font-size: 0.9em;
  }
  .starttea .where .where_block .where_detail .down .down_image img {
    height: 140px;
    margin-top: 20px;
  }
}
@media (max-width: 700px) {
  .starttea .starttea_menu .menu_close {
    font-size: 3em;
  }
  .starttea .product .menu_btn img {
    right: 30px;
    bottom: 30px;
  }
  .starttea .where .where_block .where_detail .down .where_text .title {
    font-size: 1.5em;
  }
  .starttea .where .where_block .where_detail .down .where_text .data {
    font-size: 0.9em;
  }
  .starttea .where .where_block .where_detail .down .where_text .other {
    font-size: 0.8em;
  }
}
@media (max-width: 670px) {
  .starttea .footer {
    padding: 40px 10px;
  }
  .starttea .footer .footer_block .footer_text .footer_title {
    font-size: 1.8em;
  }
  .starttea .footer .footer_block .footer_text .add_block,
  .starttea .footer .footer_block .footer_text .night {
    font-size: 1em;
  }
}
@media (max-width: 650px) {
  .starttea .store_title .up .left {
    margin-left: 40px;
  }
  .starttea .store_title .up .right {
    margin-right: 40px;
    margin-top: 15px;
  }
  .starttea .store_title .line {
    margin-top: 10px;
  }
  .starttea .message .message_block .message_img {
    width: 35%;
  }
  .starttea .product .product_title {
    margin-top: 90px;
  }
  .starttea .where .where_block .where_detail .down .where_text .title {
    font-size: 1.4em;
  }
}
@media (max-width: 610px) {
  .starttea .footer .footer_block .footer_text {
    width: 85%;
    margin: 0 auto;
  }
  .starttea .footer .footer_block .footer_text .footer_title {
    text-align: center;
  }
  .starttea .footer .footer_block .footer_text .add_block,
  .starttea .footer .footer_block .footer_text .night {
    margin-bottom: 15px;
  }
  .starttea .footer .footer_block .footer_text .add_block {
    justify-content: center;
  }
  .starttea .footer .footer_block .footer_text .night {
    text-align: center;
  }
  .starttea .footer .footer_block .footer_img {
    margin: 40px auto 0;
  }
}
@media (max-width: 600px) {
  .starttea .starttea_menu .menu_close {
    font-size: 2em;
  }
  .starttea .store_title .up {
    margin-top: 20px;
  }
  .starttea .product .menu_btn img {
    width: 80px;
    height: 80px;
  }
  .starttea .history .history_title {
    margin: 80px auto;
  }
  .starttea .history .history_image .block img {
    width: 150px;
    height: 150px;
    margin: 10px;
  }
}
@media (max-width: 550px) {
  .starttea .store_title .up .right {
    width: 10vw;
  }
  .starttea .store_title .line {
    height: 2px;
  }
  .starttea .message .message_title {
    width: 200px;
    padding-top: 70px;
  }
  .starttea .open_message .close {
    font-size: 3em;
    padding: 20px 20px 0px 0px;
  }
  .starttea .open_message img {
    margin-top: 40px;
  }
  .starttea .product .product_title {
    width: 200px;
  }
}
@media (max-width: 500px) {
  .starttea .starttea_menu img {
    width: 70%;
  }
  .starttea .store_title .up {
    margin-top: 20px;
  }
  .starttea .product .thailand_dot {
    width: 30vw;
    margin-top: -15px;
  }
  .starttea .product .thailand_dot div {
    width: 7px;
    height: 7px;
  }
  .starttea .where .where_block .where_detail {
    width: 95%;
  }
  .starttea .where .where_block .where_detail .down {
    padding: 25px;
  }
}
@media (max-width: 450px) {
  .starttea .store_title .up .right {
    margin-top: 10px;
  }
  .starttea .store_title .line {
    margin-top: 5px;
  }
  .starttea .open_menu .item {
    font-size: 1.5em;
  }
  .starttea .message {
    padding-bottom: 50px;
  }
  .starttea .message .message_title {
    width: 180px;
    padding-top: 50px;
  }
  .starttea .message .message_block .message_img {
    width: 45%;
  }
  .starttea .product .product_title {
    width: 180px;
  }
  .starttea .product .drink {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .starttea .product .menu_btn img {
    width: 65px;
    height: 65px;
    right: 20px;
    bottom: 20px;
  }
  .starttea .where .where_title_image {
    margin-top: 100px;
  }
}
@media (max-width: 415px) {
  .starttea .footer .footer_block {
    width: 100%;
  }
  .starttea .footer .footer_block .footer_text .footer_title {
    margin-bottom: 25px;
  }
  .starttea .footer .footer_block .footer_text .add_block,
  .starttea .footer .footer_block .footer_text .night {
    margin-bottom: 20px;
    font-size: 0.9em;
  }
  .starttea .footer .footer_block .footer_img {
    margin: 30px auto 0;
  }
}
@media (max-width: 400px) {
  .starttea .starttea_menu .menu_close {
    padding-right: 20px;
  }
  .starttea .product .thailand_dot {
    margin-top: -25px;
  }
  .starttea .product .thailand_dot div {
    width: 5px;
    height: 5px;
    margin: 0 3px;
  }
  .starttea .where .where_block .where_detail .down .where_text .title {
    font-size: 1.2em;
  }
  .starttea .where .where_block .where_detail .down .where_text .title .one,
  .starttea .where .where_block .where_detail .down .where_text .title .two {
    margin-right: 0px;
  }
  .starttea .where .where_block .where_detail .down .where_text .data {
    font-size: 0.8em;
  }
  .starttea .where .where_block .where_detail .down .where_text .other {
    font-size: 0.7em;
  }
  .starttea .history .history_title {
    width: 45%;
    margin-bottom: 50px;
  }
  .starttea .history .history_image .block img {
    width: 120px;
    height: 120px;
    margin: 7px;
  }
}
@media (max-width: 370px) {
  .starttea .store_title .up .left {
    margin-left: 30px;
  }
  .starttea .store_title .up .right {
    margin-right: 30px;
  }
  .starttea .store_title .line {
    margin-top: 5px;
  }
  .starttea .message .message_title {
    width: 160px;
    padding-bottom: 10px;
  }
  .starttea .message .message_block .message_img {
    width: 250px;
  }
  .starttea .product .product_title {
    width: 160px;
  }
  .starttea .footer .footer_block .footer_text .footer_title {
    font-size: 1.7em;
  }
  .starttea .footer .footer_block .footer_text .footer_title span {
    margin-left: 10px;
  }
  .starttea .footer .footer_block .footer_text .add_block,
  .starttea .footer .footer_block .footer_text .night {
    font-size: 0.8em;
  }
  .starttea .footer .footer_block .footer_img a img {
    width: 30px;
    height: 60px;
  }
}
@media (max-width: 350px) {
  .starttea .starttea_menu img {
    margin-top: 40px;
  }
  .starttea .store_title .up {
    margin-top: 15px;
  }
  .starttea .message {
    padding-bottom: 30px;
  }
  .starttea .product .product_title {
    margin-top: 60px;
    padding-bottom: 0px;
  }
  .starttea .where .where_title_image {
    margin-top: 50px;
    padding-top: 50px;
    margin-bottom: 50px;
  }
  .starttea .history .history_image .block a img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 320px) {
  .starttea .open_message .close {
    font-size: 2em;
  }
  .starttea .open_message img {
    margin-top: 15px;
  }
}
@media (max-width: 300px) {
  .starttea .store_title .up .right {
    margin-top: 5px;
  }
  .starttea .store_title .line {
    height: 1px;
    margin-top: 5px;
  }
  .starttea .message .message_block .message_img {
    width: 200px;
  }
  .starttea .product .menu_btn img {
    width: 55px;
    height: 55px;
    right: 10px;
    bottom: 10px;
  }
  .starttea .footer .footer_block .footer_text .footer_title {
    font-size: 1.5em;
  }
  .starttea .footer .footer_block .footer_text .footer_title span {
    margin-left: 10px;
  }
  .starttea .footer .footer_block .footer_text .add_block,
  .starttea .footer .footer_block .footer_text .night {
    font-size: 0.7em;
  }
  .starttea .footer .footer_block .footer_img {
    margin-top: 20px;
  }
  .starttea .footer .footer_block .footer_img a img {
    width: 25px;
    height: 50px;
  }
}/*# sourceMappingURL=style.css.map */